{% load custom_filters %}

<!-- Task List Section -->
<ul class="list-group">
  {% for task in tasks %}
    <li class="list-group-item d-flex align-items-center">
      <form method="post" action="{% url 'delete_task' task.id %}"  class="me-2">
        {% csrf_token %}
        <input type="checkbox" onchange="this.form.submit()" />
      </form>
      <span class="editable-task" data-id="{{ task.id }}">{{ task.title|highlight_tags }}</span>
    </li>
  {% empty %}
    <li class="list-group-item text-center">No tasks yet.</li>
  {% endfor %}
</ul>